@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Heebo', sans-serif;
  transition: 0.4 ease;
  background-color: #f1f1f1;
  width: 100vw;
  min-height: 100vh;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.app .row {
  padding: 35px;
  justify-content:space-between;
  min-height: 100vh;
}

.col{
  flex-grow: 1;
  
  flex-direction: vertical;
  max-width:100vh;
  
}

.intro {
  flex:1;
  margin:auto;
  width:50%;
  text-align: center;
  color: #929292;
  font-size: 32px;
  font-weight: 500;
}

.search-box {
  display:flex;
  justify-content: center;
  margin-top: 10%;
  flex:1;
}

.search-bar {
  width: 50%;
  padding: 20px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}
.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.coordinates{
  flex:1;
  margin:200px 0 0 0;
  color:#adadad;
  text-align: center;
}

.col:nth-of-type(2){
  display:flex;
  background-color: #dde4e6;
  /* horizontal */
  justify-content: center;
  /* vertical */
  align-items: center;
  border-radius: 30px;

}

.col .outer-box{
  
 background-color:#27737d; 

 display:flex;
 flex-direction:vertical;
 flex-basis: 500px;
 min-height: 600px;
 border-radius: 30px;
 justify-content: center;
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.location-box .date ,.country {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}



.location-box{
  flex:1;
}

.weather-box .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
    
}
.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
  }

  .info {
    margin-top: 50px;
    color:white;
  }
.info ul{
  display: flex;
}

.info ul li {
  margin-left: 20px;
}

  ul {
    list-style-type: none;
  }



/*
button {
  position: absolute;
  top: 0;
  border-radius: 30px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 2px;
  width:100px;
  height: 50px;
  cursor: pointer;
  color: white;
  background-color: #046b3b;
  transform: translateX(2px);
} */



