@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Heebo', sans-serif;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
  background-color: #f1f1f1;
}

.container {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.block{
  flex: 1;
}

.logo{
  flex:1;
}

.intro {
  flex:1;
  margin:auto;
  width:50%;
  text-align: center;
  color: #929292;
  font-size: 32px;
  font-weight: 500;
}

.search-box {
  display:flex;
  justify-content: center;
  margin-top: 8%;
  flex:1;
}

.search-bar {
  width: 50%;
  padding: 20px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}


.coordinates{
  flex:1;
  margin:200px 0 0 0;
  color:#adadad;
  text-align: center;
}
















.row {
  text-align:center;
  align-content:center;
  color:#FFF;
  font-size: 18px;
  
}

.col {
  float: left;
  width: 33%;
  padding: 10px;
  height: 30px; /* Should be removed. Only for demonstration */
  
}

.outer-box{
  
  display: inline-table;
  background-color: #27737d;
  border-radius: 16px;
  padding:20px;
    margin-left: 25%;
    margin-top:5%;
    width: 450px;
    height: 530px;
  

}


.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.location-box .date ,.country {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  
}

.weather-box {
  text-align: center;
  }

.weather-box .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
    
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  
}

/* Button design is taken from here:
https://www.geeksforgeeks.org/how-to-put-a-responsive-clear-button-inside-html-input-text-field/ 
*/

input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 50px;
  border-radius: 5px;
  
}


button {
  position: absolute;
  top: 0;
  border-radius: 30px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 2px;
  width:100px;
  height: 50px;
  cursor: pointer;
  color: white;
  background-color: #046b3b;
  transform: translateX(2px);
  
}



/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


